
/* id selectors */

#section1{
	position:fixed;
	top:3%;
	right:3%;
}

#section2{
	width:100%;
	height:120px;
	display:grid;
	grid-template-columns:repeat(9,1fr);
	margin-top:80px;
	margin-bottom:40px;
}

#section3{
	height:auto;
	width:100%;
	display:grid;
	grid-template-columns:repeat(4,1fr);
}

#options{
	height:50px;
	width:50px;
	display:flex;
	align-items:center;
	justify-content:center;
}

#codeArea{
	grid-column:span 2;
	max-height:600px;
	
	padding-left:15%;
	padding-right:15%;	
	padding-top:5%;
	padding-bottom:5%;
	
	font-family: 'East Sea Dokdo', cursive;
	font-family: 'Bad Script', cursive;	
	font-size:1.2em;
	overflow-y:scroll;
}

#glowBall{
	stroke:black;
	height:60px;
	stroke-width:30;
}

/* class selectors  */

.languageTab{
	height:100%;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	border-bottom:1px solid rgba(1,1,1,.1);
	text-align:center;
	color:silver;
}

/* psuedo selectors */

#glowBall:hover{
	stroke:green;
}

#codeArea:focus{
	outline:none;
}

/* scrollbar design */

.customBar::-webkit-scrollbar {
  width: 10px;
  background-color: #000e1b;
}

.customBar::-webkit-scrollbar-track {
  background-color: white;
}

.customBar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}