.flex{
	display:flex;
	align-items:center;
	justify-content:center;
}

.full{
	height:100%;
	width:100%;
}

.grid-6{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	
}

.grid-7{
		display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.spanTwo{
	grid-column:span 2;
}

#editor{

	
	padding-left:25%;
	padding-right:25%;

	
	
	
	z-index:1;
		
}





#menuBar{
	background-color:white;
	
	width:100%;
	height:50px;
	
	/* border-bottom:1px solid rgba(1,1,1,.2); */
	
	display:flex;
	flex-direction:row;
	
	position:fixed;
	top:0px;
	left:0px;
	z-index:2;
}

.tab{

	
	/* width:7%; */
	/* min-width:fit-content; */
	/* height:100%; */
	
}


#options{
	height:80px;
	width:80px;
	position:fixed;
	top:3%;
	right:2%;
	z-index:3;
}

#popUpWindow{
	height:70%;
	width:80%;
	
	background-color:gray;
	color:black;
	
	display:grid;
}

#svgBody:hover{
	stroke:green;
}