@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
    tab-size: 4;
    -tab-size: 4;
    -o-tab-size: 4;
    -moz-tab-size: 4;
}

textarea {
    width: 100%;
    height: 700px;
    resize: none;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    width: 100%;
}

/* id selectors */
#theme_nightLight {
    background-color: #001d30;
    color: #ecc242;
}

#theme_dayNight {
    background-color: black;
    color: white;
}

#theme_hacker {
    background-color: black;
    color: #4dff4a;
}

#theme_plum {
    background-color: #591952;
    color: #9f5596;
}

#theme_velvet {
    background-color: #fff0db;
    color: #d4302b;
}

#theme_mist {
    background-color: #242424;
    color: #10508c;
}

#theme_loveNote {
    background-color: #a1c3d1;
    color: #e64398;
}

#theme_ribbon {
    background-color: #1e1e1e;
    color: red;
}

#globeBox {
    position: fixed;
    right: 0px;
    top: 30%;
}

#htmlTab {
    display: block;
}

#cssTab {
    display: none;
}

#javascriptTab {
    display: none;
}

#section1 {
    position: fixed;
    top: 6%;
    right: 5%;
}

#section2 {
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin-top: 60px;
    margin-bottom: 40px;
}

#section3 {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#options {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon {
    height: 80px;
    width: 80px;
    margin: 20px;
}

#icon_ball {
    fill: black;
}

#icon_tail {
    fill: black;
}

#commands {
    list-style-type: none;
    font-size: .9em;
    text-align: center;
    display: flex;
    margin-right: 20px;
    align-items: center;
    padding-left: 0px;
}


#save {
    line-height: 40px;
    color: #2196F3;
    text-align: center;
    left: calc(50% - 60px);
    font-size: 1.3em;
    position: absolute;
    bottom: 20px;
    border: 1px solid #2196F3;
    height: 40px;
    width: 120px;
}

#save:hover {
    color: white;
    background: #2196F3;
}

#optionContainer1 {
    position: absolute;
    top: 5%;
    margin: 8%;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 25%;
}

#optionContainer2 {
    position: absolute;
    top: 5%;
    left: 30%;
    margin: 8%;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 25%;
}

/* class selectors */

.infoCube{
    height:15%;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.outer {
    height: 100%;
    width: 100%;
    background-color: rgba(1, 1, 1, .3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    position: relative;
    height: 50%;
    width: 50%;
    background-color: white;
    border-radius: 3%;
}

.popup {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.pretty {
    margin: 10px;
}

.commandItem {
    width: 100%;
    line-height: 40px;
    background-color: #eaeaea;
    min-height: 40px;
    height: auto;
    padding: 3px;
    margin: 3px;
    color: black;
}

.languageTab {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(1, 1, 1, .1);
    text-align: center;
    position: relative;
}

.mini {
    display: inline;
    height: 40px;
    width: 40px;
}

.globe {
    border-radius: 20px;
    height: 40px;
    width: 40px;
    margin: 20px;
    background: red;
    text-align: center;
    font-size: 1.8em;
    cursor: pointer;
}

.off {
    color: #848383;
}

.on {
    color: silver;
    bottom: 40px;
}

.tabcontent {
    height: auto;
    width: 100%;
}

.codeArea {
    font-size: 1.2em;
}

.spanSix{
    grid-column: span 6;
}

.spanFour {
    grid-column: span 4;
}

.spanTwo {
    grid-column: span 2;
}

.spanThree {
    grid-column: span 3;
}

.normalMenu {
    flex-direction: column;
}

.slimMenu {
    grid-column: span 6;
    flex-direction: row;
    margin-top: -40px;
}

/* psuedo selectors */

.popup:target {
    visibility: visible;
    opacity: 1;
    z-index: 10;
}

.codeArea:focus {
    outline: none;
}

::selection {
    background: transparent;
}

textarea::selection {
    background: rgba(251, 235, 212, 1);
}

/* scrollbar design */
.customBar::-webkit-scrollbar {
    width: 10px;
    background-color: #000e1b;
}

.customBar::-webkit-scrollbar-track {
    background-color: white;
}

.customBar::-webkit-scrollbar-thumb {
    background-color: #ccc;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}

/*media queries*/
@media only screen and (max-height: 1200px) {
    textarea {
        height: 700px;
    }
}

@media only screen and (max-height: 1000px) {
    textarea {
        height: 600px;
    }
}

@media only screen and (max-height: 800px) {
    textarea {
        height: 450px;
    }
}
