* {
    tab-size: 4;
    -tab-size: 4;
    -o-tab-size: 4;
    -moz-tab-size: 4;
}

textarea{
	border: 1px solid black;
}

textarea.code {
    width: 90%;
    height: 700px;
    resize: none;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    width: 100%;
}

i {
    display: inline-block;
    padding-right: 10px;
}

/* id selectors */
#theme_nightLight {
    background-color: #001d30;
    color: #ecc242;
}

#theme_dayNight {
    background-color: black;
    color: white;
}

#theme_hacker {
    background-color: black;
    color: #4dff4a;
}

#theme_plum {
    background-color: #591952;
    color: #9f5596;
}

#theme_velvet {
    background-color: #fff0db;
    color: #d4302b;
}

#theme_mist {
    background-color: #242424;
    color: #10508c;
}

#theme_ribbon {
    background-color: #801336;
    color: #c92a42;
}

#theme_grave {
    background-color: #1e1e1e;
    color: red;
}

#theme_default {
    background-color: white;
    color: black;
}

#globeBox {
    position: fixed;
    bottom: 5px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}

#htmlTab {
    display: flex;
}

#cssTab {
    display: none;
}

#javascriptTab {
    display: none;
}

#section1 {
    position: fixed;
    top: 7%;
    right: 8%;
}

#section2 {
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin-top: 60px;
    margin-bottom: 40px;
}

#section3 {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}


#options {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon {
    height: 200%;
    width: 200%;
    margin: 20px;
}

#icon_ball {
    fill: black;
}

#icon_tail {
    fill: black;
}

#commands {
    list-style-type: none;
    font-size: .9em;
    text-align: center;
    display: flex;
    margin-right: 20px;
    align-items: center;
    padding-left: 0px;
    grid-column: 6/7;
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}


#save {
    line-height: 40px;
    color: #2196F3;
    text-align: center;
    left: calc(50% - 60px);
    font-size: 1.3em;
    position: absolute;
    bottom: 20px;
    border: 1px solid #2196F3;
    height: 40px;
    width: 120px;
}

#save:hover {
    color: white;
    background: #2196F3;
}

#optionContainer1 {
    position: absolute;
    top: 0%;
    margin: 4%;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 25%;
}

#optionContainer2 {
    position: absolute;
    top: 0%;
    left: 30%;
    margin: 4%;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 25%;
}

#optionContainer3 {
    position: absolute;
    top: 0%;
    left: 60%;
    margin: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85%;
    width: 30%;
}

#optionContainer4 {
    position: absolute;
    top: 43%;
    margin: 4%;
    display: flex;
    /* align-items:center; */
    /* justify-content:center; */
    flex-direction: column;
    height: 50%;
    width: 25%;
}

#optionContainer5{
    position: absolute;
    left: 20%;
    top: 43%;
    margin: 4%;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 25%;
}

#importFiles {
    top: 0%;
    left: 60%;
    margin: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    background: #e6e6e6;
    border: 2px solid #7db1ff;
}

#files {
    z-index: 3;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 16.6%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
}

#popup3 {
    z-index: 2;
    display: none;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#popup4 {
    z-index: 2;
    display: none;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#iframe {
    display: none;
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 400px;
    max-height: 100%;
    width: 400px;
    max-width: 83.4%;
    overflow: auto;
    z-index: 2;
    background: rgba(1, 1, 1, 0.25);
    border: 20px solid transparent;
    cursor: nw-resize;
}

#paintPalette {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 10px;
    right: 60px;
    height: 95.5%;
    width: 20%;
    display: none;
}

#paintSettings {
    height: 40%;
    width: 100%;
    background: #E0E0E0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#paintColors {
    height: 60%;
    width: 100%;
    background: green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #82c4dd;
}

#cssEditor {
    white-space: nowrap;
}


.colorName {
    font-size: 12px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
}

.colorName::selection {
    color: #0f57ff;
}

.colorName:focus {
    outline: none;
}

#paintIcon {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 30px;
    width: 30px;
    margin: 20px;
    background: url(https://image.flaticon.com/icons/png/512/668/668110.png) 100% / cover;
        cursor: pointer;
}

/* class selectors */

.paint {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: auto;
}

.file {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 10px;
    height: auto;
    width: 80%;
    position: relative;
    text-align: left;
    cursor: pointer;
    word-break: break-all;
}

.folder {
    height: auto;

}

.folder > input {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid black;
    text-align: left;
    cursor: pointer;
    background: transparent;
    width: 100%;
    height: auto;
    padding: 10px;
    position: relative;
    color: rgb(238, 69, 64);
}

.folder > * {
    padding-left: 20px;
}

.remove {
    font-size: large;
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0px;
    text-align: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    color: #4682b4;
    transition: .5s ease;
}

.remove:hover{
    background-color:currentColor;
}

.remove > img {
    height: 100%;
    width: 25%;
    cursor: pointer;
}

.add {
    font-size: large;
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0px;
    text-align: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    transition: .5s ease;
}

.add:hover{
    background-color:#1bb761;
}

#newFile {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: none;
    border-right: none;
    padding: 10px;
    height: auto;
    width: 79%;
    position: relative;
    text-align: left;
    cursor: pointer;
    background: transparent;
    color: rgba(146, 146, 146, 1);
}

#newFile:focus {
    color: black;
}


.add > img {
    height: 100%;
    width: 25%;
    cursor: pointer;
}

.fileBox {
    display: flex;
    position: relative;
    height: auto;
    width: 100%;
}

.upload {
    display: inline-block;
    cursor: pointer;
    height: 50px;
    width: 40px;
    margin: 5px;

}

.infoCube {
    height: 15%;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.outer {
    height: 100%;
    width: 100%;
    background-color: rgba(1, 1, 1, .3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    position: relative;
    height: 80%;
    width: 70%;
    background-color: white;
    border-radius: 25px;
}


.popup {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.pretty {
    margin: 10px;
}

.commandItem {
    width: 100%;
    line-height: 40px;
    background-color: #eaeaea;
    min-height: 40px;
    height: auto;
    padding: 3px;
    margin: 3px;
    color: black;
}

.languageTab {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(1, 1, 1, .1);
    text-align: center;
    position: relative;
}

.mini {
    display: inline;
    height: 40px;
    width: 40px;
}

.globe {
    border-radius: 20px;
    height: 40px;
    width: 40px;
    margin: 20px;
    background: red;
    text-align: center;
    font-size: 1.8em;
    cursor: pointer;
}

.off {
    color: #848383;
}

.on {
    color: #00d3f7;
    bottom: 40px;
}

.tabcontent {
    position: relative;
    height: auto;
    width: 100%;
}

.codeArea {
    font-size: 1.2em;
}

.spanSix {
    grid-column: span 6;
}

.spanFour {
    grid-column: span 4;
}

.spanTwo {
    grid-column: span 2;
}

.spanThree {
    grid-column: span 3;
}

.normalMenu {
    flex-direction: column;
}


.fileName {
    display: block;
    border: none;
    outline: none;
    width: 55%;
    font-size: 2em;
    text-align: right;
    background: transparent;
    color: #00c2ff;
}

.fileType {
    display: block;
    height: 13px;
}

.m {
    display: flex;
    align-items: center;
    justify-content: center;
}

.displayName {
    height: 50px;
    width: 30%;
    color: steelblue;
    font-size: 2em;
    border: none;
    padding: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
    /* background: white; */
	clip-path: polygon(9% 0, 100% 0%, 91% 100%, 0% 100%);

}

.lineCount {
    width: 10%;
    background-color: steelblue;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    overflow-y: auto;
}

.line {
    text-align: right;
    padding-right: 20px;
    display: block;
    height: auto;
    width: 100%;
    color: azure;
    font-family: serif;
}


/* psuedo selectors */

.popup:target {
    visibility: visible;
    opacity: 1;
    z-index: 10;
}

.codeArea:focus {
    outline: none;
}

::selection {
    background: transparent;
}

textarea::selection {
    background: rgba(251, 235, 212, 1);
}

/* scrollbar design */
.customBar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    /* background-color: #000e1b; */
}

.customBar::-webkit-scrollbar-track {
    /* background-color: white; */
    background-color: transparent;
}

.customBar::-webkit-scrollbar-thumb {
    background-color: #ccc;
    /* background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent) */
    background-image: -webkit-linear-gradient(45deg, white 25%, #8e0202 25%, #b50000 50%, white 50%, white 75%, #960000 75%, #dc0000);
}

.hiddenBar::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
.hiddenBar::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/*media queries*/
@media only screen and (max-height: 1200px) {
    textarea.code {
        height: 700px;
    }

    .lineCount {
        height: 700px;
    }

    #commands {
        height: 700px;
    }
}

@media only screen and (max-height: 1000px) {
    textarea.code {
        height: 550px;
    }

    .lineCount {
        height: 550px;
    }

    #commands {
        height: 550px;
    }
}

@media only screen and (max-height: 800px) {
    textarea.code {
        height: 450px;
    }

    .lineCount {
        height: 450px;
    }

    #commands {
        height: 450px;
    }
}

input[type="file"] {
    display: none;
}
